@model WeFruit.Weixin.Models.HomeViewModel
@{
    ViewBag.Title = "商品分类";
    Layout = "~/Views/_LayoutNav.cshtml";
}

@section Style
{
    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <style>
        .aa {
            position: relative;
        }

        .pos_abs {
            background-size: 100%;
        }

        .bb {
            left: 68.5px;
            position: absolute;
            top: 89.5px;
        }
    </style>
}

<!--ftop开始-->
<div class="ftop">
    <div class="index_search index_search01" style="padding-left: 10px;">
        <div style="left: 0px; width: 100%;" onclick="document.location = '@Url.Action("Search","Product")'">
            <input type="text" placeholder="请输入您要搜索的产品">
            <input type="button" value="">
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->
<div class="search_list">
    <ul>
        @foreach (var sort in Model.Sorts)
        {
            <li class="aa">
                <a href="@Url.Action("Commodity","Product",new {sort.Code})">
                    <img class="pos_abs" src="@sort.ImgUrl" style="width: 197px;" />
                    <span class="bb">@sort.Name</span>
                </a>
            </li>
        }
    </ul>
</div>


@section Scrpit
{
    <script>
        $(".search_list ul li a img").each(function() {
            var w = $(this).width();
            $(this).height(w + "px");
        });

        $(".f").addClass("current");
        $(".s").removeClass("current");
        $(".g").removeClass("current");
        $(".w").removeClass("current");

    </script>

}

