
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/_LayoutMaster.cshtml";
}

@section Style
{
    <link href="~/Content/Css/center.css" rel="stylesheet" />
}

<!--ftop开始-->
<div class="ftop">
    <a class="back" onClick="javascript:history.back(-1);"><img src="/Content/Images/icon_03.png"></a>
    <h2>@ViewBag.Title</h2>
    <a class="comea"></a>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->
<!--个人中心-关于我们-->
<div class="aboutus">
    <div class="txt">
        <h2>平台介绍</h2>
        <p>专业的综合网上购物商城，销售超数万品牌、4020万种商品，囊括家电、手机、服装、电脑、图书、母婴、个护、食品、旅游等13大品类。所售商品为正品行货、全国联保、机打发票。提供专业配送、售后服务，为您提供愉悦的购物体验！ </p>
    </div>
    <div class="txt">
        <h2>联系我们</h2>
        <p>
            地址：河南省郑州市纬五路12号河南合作大厦A座8楼 <br> 电话：0371-55901818 0371-55987788<br> 传真：(852) 2332 3339<br> 邮箱：sales@meizu.com.hk
        </p>
        <img src="/Content/Images/map_03.jpg" alt="">
    </div>
</div>
<!--个人中心-关于我们-->

